<div class="container-fluid">
    <div class="row my-5 mx-2">
      <div class="col-md-6 my-auto animated fadeInLeft">
    <mdb-card cascade="true" narrower="true" style="box-shadow: 3px 3px 50px 3px #898989;">
        <div class="col-12 my-auto">
          <mdb-carousel [animation]="'slide'" class="mx-3">
            <mdb-carousel-item>
              <img class="d-block w-100" src="assets/transport.jpg">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="assets/transport.jpg">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="assets/transport.jpg">
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
    </mdb-card>
  </div>

  <div class="col-md-6  my-auto animated fadeInRight delay-1s">
      <mdb-card cascade="true" class="mt-3" narrower="true" style="box-shadow: 3px 3px 50px 3px #898989;">

          <div class="col-12 d-flex justify-content-around">
            <mdb-card-body cascade="true" class="text-center">
                <h3 class="card-title text-dark text-center">TRANSPORT</h3>
              <mdb-card-text class="mx-1 text-dark">
                <p style="text-justify: auto; text-align: justify;">
                  Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                  Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                  Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </p>
              </mdb-card-text>
              <a class="btn btn-outline-dark" routerLink="/reserve" mdbWavesEffect>RESERVE</a>
            </mdb-card-body>
          </div>
      </mdb-card>
    </div>
    </div>
    </div>
