<h6 class="text-right">The number of orders: {{orders.length}}</h6>
<div *ngFor="let order of orders" class="my-3 animated slideInLeft">

<mdb-card  cascade="true" narrower="true">
  <mdb-card-body cascade="true" class="text-center">
    <div class="row">
      <div class="col-lg-3 mx-auto text-center">
        <h4>Order ID: {{order.orderId}}
          <br>Car ID: {{order.carId}}</h4>
      </div>
      <div class="col-lg-3 mx-auto text-center">
          <h5>PERSONAL INFORMATION</h5>
          <p>Email: {{order.email}}
            <br>Name: {{order.name}}
            <br>Surname: {{order.surname}}
            <br>Birthday: {{order.birthday.day}}-{{order.birthday.month}}-{{order.birthday.year}}</p>
        </div>
        <div class="col-lg-3 mx-auto text-center">
            <h5>RESERVATION DATE:</h5>
            <div *ngFor="let x of order.reservation;">
              Date: {{x.day}}-{{x.month}}-{{x.year}}
            </div>
          </div>
          <div class="col-lg-3 mx-auto my-auto text-center">
              <button type="button" class="btn btn-outline-dark" (click)="deleteOrder(order, 'completed')">complete</button>
              <button type="button" class="btn btn-outline-dark" (click)="deleteOrder(order, 'canceled')">canceled</button>
            </div>

    </div>
  </mdb-card-body>
</mdb-card>
</div>
