<div class="container-fluid">
  <div class="row text-center mx-2">
    <div class="col-md-12">
      <button class="btn btn-outline-dark px-5" routerLinkActive="active" routerLink="orderslist" type="button"
        mdbWavesEffect>Orders list</button>
      <button class="btn btn-outline-dark px-5" routerLinkActive="active" routerLink="historylist" type="button"
        mdbWavesEffect>History list</button>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center mx-2">
    <div class="col-sm-12 mx-auto mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
